.selectedNavItem {
    border-bottom-width: 2px;
    border-bottom-color: #FD7757;
    box-sizing: border-box;
    @apply mx-6 py-1 text-gray-800 text-base font-medium;
}

.navItem {
    border-bottom-width: 2px;
    border-bottom-color: #ffffff;
    box-sizing: border-box;
    transition: color 0.25s ease;
    @apply mx-6 py-1 text-gray-500 text-base font-medium transition-colors;
}

.navItem:hover {
    @apply text-gray-800;
}